@import '../styles/styles.scss';

// https://codepen.io/bennettfeely/pen/jOEjmXK
$colours: #fedc00 0, #fedc00 1/18 * 100%, #fcb712 0, #fcb712 2/18 * 100%, #f7921e 0,
  #f7921e 3/18 * 100%, #e87f24 0, #e87f24 4/18 * 100%, #dd6227 0, #dd6227 5/18 * 100%, #dc4c27 0,
  #dc4c27 6/18 * 100%, #ca3435 0, #ca3435 7/18 * 100%, #b82841 0, #b82841 8/18 * 100%, #953751 0,
  #953751 9/18 * 100%, #364c88 0, #364c88 10/18 * 100%, #16599d 0, #16599d 11/18 * 100%, #02609e 0,
  #02609e 12/18 * 100%, #0073a9 0, #0073a9 13/18 * 100%, #008aa4 0, #008aa4 14/18 * 100%, #239a87 0,
  #239a87 15/18 * 100%, #7cba6d 0, #7cba6d 16/18 * 100%, #becc2f 0, #becc2f 17/18 * 100%, #e0d81d 0,
  #e0d81d 18/18 * 100%;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-0 $spacing-0 $spacing-0;
  margin: $spacing-0 auto;
  min-height: 100vh;
  background-color: $color-theme-5;
  // background: repeating-radial-gradient(circle at bottom left, $colours),
  //   repeating-radial-gradient(circle at bottom right, $colours);
  // background-blend-mode: overlay;
  // height: 100vh;
  // background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

// .header-container {
//   display: flex;
//   align-items: flex-end;
//   max-width: $max-width-wrapper;
//   width: 100%;
//   margin: $spacing-0 auto $spacing-12;
// }

// .nav {
//   display: flex;
//   margin-left: auto;
//   list-style-type: none;

//   ul {
//     display: flex;
//     align-items: flex-end;
//     padding-bottom: 0;
//     margin-bottom: $spacing-0;

//     li {
//       display: flex;
//       font-size: $font-size-4;
//       margin-left: $spacing-6;
//       margin-bottom: $spacing-1;
//     }
//   }
// }

// .logo {
//   color: $color-theme-1;
// }

.main-container {
  // max-width: $max-width-wrapper;
  max-width: 62rem;
  width: 100%;
  height: 100vh;
  background: repeating-radial-gradient(circle at bottom left, $colours),
    repeating-radial-gradient(circle at bottom right, $colours);
  background-blend-mode: overlay;
  margin: $spacing-0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-theme-4;
  // max-width: $max-width-wrapper;
  max-width: 62rem;
  margin: $spacing-0 auto $spacing-0;
  width: 100%;
}

.footer-icons {
  background-color: $color-theme-2;
  border-radius: $spacing-12;
  display: flex;
  list-style-type: none;

  ul {
    display: flex;
    margin: $spacing-6 $spacing-6;

    li {
      display: flex;
      margin: $spacing-0 $spacing-4 $spacing-0 $spacing-0;
    }
  }
}

.hover-jump {
  transition: all 0.25s ease-in-out;
}

.hover-jump:hover {
  transform: translateY(-$spacing-2);
}
